@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

.form-container {
    display: flex;
}
  

.home {
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212121;
    width: 300px;
    height: 400px;
    border-radius: 8px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

}

.home h2 {
    margin-top: 0;
}

.create_form input {
    width: 200px;
    padding: 10px;
    border-bottom: 2px solid;
    outline: none;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #424242;
    color: white;
}

.create_form button {
    padding: 10px;
    background-color: #bbff00;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.task-container{
    margin-top: 25px;
}

.task {
 display: flex;
 align-items: center;
 width: 250px;
 justify-content: space-between;
 background-color: #b700ff;
 color: white;
 font-weight: bold;
 height: 35px;
 padding: 2px 5px 2px 5px;
 margin-top: 2px;
 border-radius: 2px;
}

.checkbox {
    display: flex;
    align-items: center;
}

.line_through{
    text-decoration: line-through;
}

.checkbox .icon {
    margin-right: 5px;
    font-size: 15px
}

.task div span {
    margin: 0px 5px 0px 4px;
}

.task div .icon {
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #202020;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding-bottom: 20px;
  }
  
  footer p {
    font-weight: bold;
  }
  